@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: "Grotesk";
        src: url("/fonts/CabinetGrotesk-Variable.ttf");
    }
    @font-face {
        font-family: "SF-Pro";
        src: url("/fonts/SF-Pro.ttf");
    }
    .clip-diagonal {
        clip-path: polygon(0 0, 0 100%, 100% 1%);
    }
    /* .hideScroll::-webkit-scrollbar {
        width: 5px;
        height: 10px;
        background-color: inherit;
     }
     .hideScroll::-webkit-scrollbar-thumb {
        background-color: lightgray;
        
     } */
}

.circular_progress {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1000;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
  }